.header {
  height: 80px;
  width: 100%;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  .container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .compose {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .categories {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style: none;
        .link {
          font-size: 18px;
          margin-left: 40px;
          &:first-child {
            margin-left: 160px;
          }
        }
      }
    }
    .search {
      position: relative;
      input {
        font-size: 18px;
        width: 20vw;
        height: 52px;
        border: none;
        border-radius: 8px;
        background: #f0f0f0;
        &::placeholder {
          position: relative;
          left: 36px;
        }
      }
      svg {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        right: 25px;
      }
    }
    .profile {
      display: flex;
      flex-direction: row;
      span {
        margin: 0px 30px;
      }
    }
  }
}
