.containerProduct {
  width: 410px;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  .logo {
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 43px;
  }

  .imageProduct {
    width: 410px;
    height: 310px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 10px 0 0;
  }
  .name {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0 0 20px;
  }
  .brandName {
    font-size: 18px;
    padding: 10px 20px 0 20px;
  }
  .rating {
    color: #848484;
    padding: 0 10px 0 10px;
  }
  .priceBlock {
    margin-bottom: 13px;
    .currentPrice {
      font-size: 24px;
      padding: 0 10px 0 20px;
      font-weight: 900;
    }
    .oldPrice {
      color: #848484;
      text-decoration: line-through;
      padding: 0 15px 0 5px;
    }
    .offer {
      color: #0a8200;
      font-weight: 900;
    }
  }
}
